<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanders.natalie.well_being" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Question1"
            android:label="@string/title_activity_question1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Question2"
            android:label="@string/title_activity_question2" >
        </activity>
        <activity
            android:name=".Finish"
            android:label="@string/title_activity_finish" >
        </activity>
    </application>

</manifest>
